<div class="navbar-item has-dropdown is-active">
    <a #dropdownButtonSortBy (click)="dropDownSortBy = !dropDownSortBy" class="navbar-link">
        Sort: {{selectedFilterType}}
    </a>
    <div *ngIf="dropDownSortBy" class="navbar-dropdown is-right">
        <div *ngFor="let key of sortType" (click)="selectFilterType(key)">
            <a class="navbar-item " [class.is-active]="key === selectedFilterType">
                {{key}}
            </a>
            <hr class="navbar-divider">
        </div>
    </div>
</div>

<!-- 
<div class="navbar-item has-dropdown is-active">
    <a #dropdownButtonOrderBy (click)="dropDownOrderBy = !dropDownOrderBy" class="navbar-link">
        Order By
    </a>
    <div *ngIf="dropDownOrderBy" class="navbar-dropdown is-right">
        <a class="navbar-item">
            Overview
        </a>
        <a class="navbar-item">
            Elements
        </a>
        <a class="navbar-item">
            Components
        </a>
        <hr class="navbar-divider">
        <div class="navbar-item">
            Version 0.9.0
        </div>
    </div>
</div> -->