<div class="navbar-item has-dropdown is-active">
    <a #dropdownButtonSortBy (click)="dropDownSortBy = !dropDownSortBy" class="navbar-link">
        Sort: {{selectedFilterType}}
    </a>
    <div *ngIf="dropDownSortBy" class="navbar-dropdown is-right">
        <div *ngFor="let key of sortType" (click)="selectFilterType(key)">
            <a class="navbar-item " [class.is-active]="key === selectedFilterType">
                {{key}}
            </a>
            <hr class="navbar-divider">
        </div>
    </div>
</div>
