:host {
    display: flex;
    height: 100%;
}

section {
    display: flex;
    border-radius: 5px;
    flex-grow: 1;
    flex: 1;
    margin: 15px 40px;
    background-color: #fff;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
}
aside {
    margin-left: 60px;
    border-left: 1px dotted #ccc;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.content-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.left-container {
    width: 60%;
}
.title {
    font-size: 25px;
    line-height: unset;
    width: 60%;
    text-decoration: underline;
    color: #7c61da;
}

.menu-label {
    font-weight: 600;
    font-size: 19px;
    margin-bottom: 0;
    border-bottom: 1px dotted #ccc;
}

.description {
    font-size: 15px;
    margin-top: 10px;
}

.menu-list-modified {
    padding: 5px;
    border-bottom: 1px dotted #ccc;
    li {
        display: flex;
    }
    a {
        padding-left: 0;
        margin-left: 7px;
    }
}

.about-section {
    max-width: 260px;
}

.short-description-wrapper {
    margin-bottom: 25px;
}

.short-description-wrapper,
.readme-content-wrapper {
    border: 1px dotted #ccc;
    padding: 15px;
    border-radius: 5px;
}

.content-not-found-div {
    display: block;
    font-size: 30px;
    margin: auto;
}
app-loading{
    margin: auto;
}
