<app-loading *ngIf="loading"></app-loading>
<section *ngIf="!loading" class="section detail-container">
  <div class="container content-wrapper">
    
    <div class="left-container">
      <a [href]="repoDetail?.html_url" target="blank">
        <h1 class="title box-title">{{repoDetail?.full_name}}</h1>
      </a>
      <div class="short-description-wrapper">
        <h2 class="subtitle description">
          <strong>About: </strong>
          <br>{{repoDetail?.description}}
        </h2>
      </div>
      <div *ngIf="readMeContent" class="readme-content">
        <strong>Readme.md</strong>
        <div [innerHTML]="readMeContent"></div>
      </div>
    </div>

    <aside class="menu">
      <p class="menu-label">
        Details:
      </p>
      <ul class="menu-list">
        <li>Owner:</li>
        <li>
          <app-profile-image [imgSrc]="repoDetail?.owner?.avatar_url"></app-profile-image><a
            [href]="repoDetail?.owner?.html_url" target="blank"> {{repoDetail.owner.login}}</a>
        </li>
      </ul>
      <ul class="menu-list">
        <li>Default Branch:</li>
        <li>
          <fa-icon [icon]="codeBrach" [size]="'xs'"></fa-icon>
          <a> {{repoDetail?.default_branch}}</a>
        </li>
      </ul>
      <ul class="menu-list">
        <li>Open Issues: </li>
        <li>
          <fa-icon [icon]="faExclamation" [size]="'xs'"></fa-icon>
          <a>{{repoDetail?.open_issues_count}}</a>
        </li>
      </ul>
      <ul class="menu-list">
        <li>Watchers:</li>
        <li>
          <fa-icon [icon]="faEye" [size]="'xs'"></fa-icon>
          <a> {{repoDetail?.watchers_count}}</a>
        </li>
      </ul>
      <ul class="menu-list">
        <li>Forks:</li>
        <li>
          <fa-icon [icon]="faNetworkWired" [size]="'xs'"></fa-icon>
          <a> {{repoDetail?.forks_count}}</a>
        </li>
      </ul>
    </aside>

  </div>
</section>