<div class="box">
    <article class="media">
        <div class="media-content">
            <div class="content">
                <div style="margin: 0;">
                   <div style="display: flex;"> 
                       <fa-icon [icon]="faDatabase" [size]="'xs'"></fa-icon><h5 class="box-title">{{item?.full_name}}</h5>
                    </div>
                    <div style="min-height: 35px;">
                        <p class="description">{{item?.description}}</p>
                    </div>
                </div>
            </div>
            <nav class="level is-mobile">
                <div class="level-left">
                    <a class="level-item" >
                        <span class="icon is-small">
                            <fa-icon [icon]="faCircle" [size]="'xs'"></fa-icon>
                        </span><p>15</p>
                    </a>
                    <a class="level-item" >
                        <span class="icon is-small">
                            <fa-icon [icon]="faStar" [size]="'xs'"></fa-icon> 
                        </span><p>15</p>
                    </a>
                    <a class="level-item" >
                    <span class="icon is-small">
                            <fa-icon [icon]="faNetworkWired" [size]="'xs'"></fa-icon> 
                        </span><p>15</p>
                    </a>
                </div>
            </nav>
        </div>
    </article>
</div>