:host {
    display: block;
}

.media-content {
    width: 100%;
}
.content-tob-bar {
    margin: 0;
    fa-icon {
        margin-top: 2px;
    }
    .title-container {
        display: flex;
    }
    .repo-description {
        min-height: 35px;
    }
}
